<p-dropdown 
    [options]="rules"
    [(ngModel)]="selectedRule" 
    placeholder="Select first rule" 
    optionLabel="label"
    optionValue="value"
    >
</p-dropdown> 

<p-dropdown 
    [options]="rules"
    [(ngModel)]="selectedRule" 
    placeholder="Select second rule" 
    optionLabel="label"
    optionValue="value"
    >
</p-dropdown> 

<p-dropdown 
    [options]="rules"
    [(ngModel)]="selectedRule" 
    placeholder="Select third rule" 
    optionLabel="label"
    optionValue="value"
    >
</p-dropdown> 

<p>User can select multiple rules and make it as one rule</p>
